<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot is online!</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <h1>Group List</h1>
    <div class="container">
        <% chats.forEach((chat) => { %>
            <div class="item">
                <%= chat.name %>
            </div>
        <% }); %>
    </div>
    <div class="status__container">
        <div class="status">
            <span>Online</span>
        </div>
    </div>
    <a href="/chatlog">Real time chat log</a>
</body>
</html>