.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    margin: 2rem;
    padding: 2rem;
    background: #EEE;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.2);
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    margin-top: 1rem;
    background: #FFF;
    padding: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.status__container {
    position: absolute;
    right: 40px;
    background: #FFF;
    padding: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    bottom: 20px;
}

.status {
    font-size: 2rem;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}